<!-- limonatura/sales/templates/sales/order_confirmation.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="order-confirmation-container">
    <h2>Confirmación de Pedido</h2>
    <div class="order-details">
      <p>Gracias por tu compra, <strong>{{ sale.customer.username }}</strong>.</p>
      <p><strong>Número de Venta:</strong> {{ sale.id }}</p>
      <p><strong>Total Pagado:</strong> ${{ sale.total_value }}</p>
    </div>
    <a href="{% url 'download_receipt' sale.id %}" class="btn-download">Descargar Boleta Electrónica</a>
  </div>
{% endblock %}
