{% extends 'base.html' %}

{% block content %}
  <section class="featured-products">
      <h2>Listado de Productos</h2>

      <!-- Mostrar categorías para filtrar -->
      <h3>Categorías</h3>
      <div class="category-list">
          <a href="{% url 'product_list' %}" class="category-card {% if not selected_category %}active{% endif %}">Todas</a>
          {% for category in categories %}
              <a href="?category={{ category.id }}" class="category-card {% if selected_category == category.id %}active{% endif %}">
                  {{ category.name }}
              </a>
          {% endfor %}
      </div>

      {% if user.is_authenticated %}
        {% if user.role == 'admin' or user.role == 'seller' %}
          <div class="export-button">
              <a href="{% url 'export_stock_excel' %}" class="button">Descargar Reporte de Stock (Excel)</a>
          </div>
        {% endif %}
      {% endif %}

      <div class="product-list">
          {% for product in products %}
              <div class="product-card">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}">
                  <h3>{{ product.name }}</h3>
                  <p>${{ product.price }}</p>
                  <p>Stock: {{ product.stock }}</p>
                  <p>Categoría: {{ product.category.name }}</p>
                  <a href="{% url 'product_detail' product.pk %}" class="button">Ver más</a>
              </div>
          {% endfor %}
      </div>
  </section>
{% endblock %}
